/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* @import "reset.scss" */


/* .main-page{
    background-image: url('../images//splash.jpg');
    background-size: cover;
} */

.main-div {
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/dead63cd-f004-43ff-9ecb-d6381f56b76e/0a8f62ef-224d-46e3-be2c-e7b1227c51b8/US-en-20200617-popsignuptwoweeks-perspective_alpha_website_small.jpg);
    position: relative;
    height: 1000px;
    width: 100%;
}


.login-sign-up-buttons {
    color: red;

    
}
.login {
   background-color: #e50914;
    line-height: normal;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 1rem;
    float: right;

    /* text-decoration: none;
    color: black;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: bold */
}


.signup {
    background-color: #e50914;
    line-height: normal;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
}
    
.nfinput {
    border-radius: 4px;
    border: 0;
    color: #fff;
    height: 50px;
    line-height: 50px;
    padding: 5px 5px 0;
    padding-bottom: 16px;
    width: 200px;
    height: 20px;
}

.password-input {

}

.demo-login {
   /* display: flex;
   justify-content: center; */

   background-color: #E50914;
   color: white;
   font-size: 16px;
   padding-top: 8px;
   padding-bottom: 8px;
   padding-left: 17px;
   padding-right: 17px;
   border-radius: 3px;
   border: none;
   align-self: center;
   /* margin-right: 20px;  */
   font-weight: 300;
   /* border-radius: 1%; */
   font-family: sans-serif;
   /* font: arial; */

}

.red-button{
   background-color: #DC1A28;
   text-decoration: none;
   padding: 10px 15px;
   border-radius: 3px;
   font-size: 0.9rem;
   color: white;
   border-style: none;
  
}

.red-button:hover {
    cursor: pointer;
}

.nas-flix-logo {
    color: #DC1A28;
    font-size: 40px;
    text-decoration: none;
    font-family: cursive;
    font-weight: bold;
}

.main-page-text {
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    font-style: oblique;

}

.login-signup-form {
    background-color: rgba(0,0,0,.75) ;
    /* justify-content: center;
    align-items: center;
    width: 200px;
    display: flex;
    height: 126px;  */

    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 450px;
   height: 500px;
   margin-left: 390px;
   margin-top: 50px;
}

.form-title {
    color: honeydew;
}